{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Vendas</h1>
    <!--Fazer venda-->
    <a href="{{ url_for('nova_venda') }}" class="btn-novo">+ Nova Venda</a>
    
    <!--Listagem de vendas-->
    <table class="tabela-vendas">
        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Total</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {% for venda in vendas %}
            <tr>
                <td>{{ venda.id }}</td>
                <td>{{ venda.cliente.nome }}</td>
                <td>{{ venda.produto.nome }}</td>
                <td>{{ venda.quantidade }}</td>
                <td>R$ {{ "%.2f"|format(venda.valor_total) }}</td>
                <td>{{ venda.data_venda.strftime('%d/%m/%Y') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="rodape-tabela">
        <a href="{{ url_for('home') }}" class="btn-voltar">
            ← Voltar à Página Inicial
        </a>
    </div>
</div>
{% endblock %}