{% extends "base.html" %} {% block content %}
<div class="container-auth">
  <h1>Esqueci Minha Senha</h1>

  <!--Formulário para recuperação de senha-->
  <form method="POST" class="form-auth">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />
    </div>

    <button type="submit" class="btn-auth">Enviar Link de Redefinição</button>
  </form>

  <!--Se já tiver cadastro, o usuário pode ir para a tela de login-->
  <div class="auth-links">
    <a href="{{ url_for('login') }}">Já tem conta? Faça login</a>
  </div>
</div>
{% endblock %}
